@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

#root {
    overflow-y:hidden;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-top: 100px;
}

/*
.source-code pro-<uniquifier> {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
*/
img{
    width: 200px;
    height: 200px;
}
.text-muted {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(223, 216, 200);
    transform: translateY(-85px);
}
a, h3, p{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a{

    transform: translateY(-100px);
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 15pt;
    text-decoration: none;
    color: rgba(202, 191, 171, 1);
}
a:hover{
    color: rgba(202, 191, 171, 0.3);
}
.nameteg {

    text-align: center;
    font-size: 40pt;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: rgb(223, 216, 200);
}
.main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    transform:translateY(-50px) ;
}
.abobusimg{
    width: 250px;
    height: 250px;
}